{% extends "base.html" %}
{% load l10n %}
{% load i18n %}
{% load dateconv %}
{% load lastpart %}
{% block content %}

<div class="container">
{% include "messages.html" %}

        <ul class="breadcrumb">
            <li><a href="{% url "containerview" %}">Containers</a></li> 
            <li><span class="divider">/</span>
                <a class="u" href="{% url "objectview" container=container %}">{{container}}</a></li>

            {% for prefix in prefixes %}
                <li>
                    <span class="divider">/</span>
                    <a href="{% url "objectview" container=container prefix=prefix.full_name %}">{{prefix.display_name}}</a>
                </li>
            {% endfor %}
       </ul> 

<form method="POST" class="form-horizontal">
    <fieldset>
    <legend>{% trans 'Create a new pseudofolder' %}</legend>
    {% csrf_token %}
  
    <div class="control-group">
        <label class="control-label" for="foldername">{% trans "Foldername" %}</label>
        <div class="controls">
            <input id="foldername" name="foldername" class="input-xlarge" type="text" placeholder="{% trans "Foldername" %}">
            <span class="help-block">
                {% trans "Enter name of pseudofolder here." %}
                {% trans "Please note that you can not rename it afterwards." %}
            </span>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">{% trans 'Create' %}</button>
            {% if prefix %}
        <a href="{% url "objectview" container=container prefix=prefix %}" class="btn" >
    {% else %}
        <a href="{% url "objectview" container=container %}" class="btn" >
    {% endif %}
    {% trans 'Cancel' %}</a>
         </div>
    </div>
  </fieldset>
</form>
</div>

{% endblock %}
