{% extends "base.html" %}
{% load l10n %}
{% load i18n %}
{% load dateconv %}
{% load lastpart %}
{% block content %}

<div id='containerdiv' class="container">
{% include "messages.html" %}

        <ul class="breadcrumb">
            <li><a href="{% url "containerview" %}">Containers</a></li> 
            <li><span class="divider">/</span>
                <a class="u" href="{% url "objectview" container=container %}">{{container}}</a></li>

            {% for prefix in prefixes %}
                <li>
                    <span class="divider">/</span>
                    <a href="{% url "objectview" container=container prefix=prefix.full_name %}">{{prefix.display_name}}</a>
                </li>
            {% endfor %}

       </ul> 
    {% if public %}
            
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{% trans 'Public URL:' %}</strong>
            <a href="{{ base_url }}{% url "public_objectview" account=account container=container %}" target="new">
                {{ base_url }}{% url "public_objectview" account=account container=container %}
            </a>
        </div>
 
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 32px;" class="hidden-phone"></th>
            <th>{% trans 'Name' %}</th>
            <th style="width: 12.5em;" class="hidden-phone">{% trans 'Created' %}</th>
            <th style="width: 6em;" class="hidden-phone">{% trans 'Size' %}</th>
            <th style="width: 1em;">
                <div class="dropdown pull-right">
                <a class="dropdown-toggle btn btn-mini btn-danger" data-toggle="dropdown">
                    <i class="icon-plus icon-white"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        {% if prefix %}
                        <a href="{% url "upload" container=container prefix=prefix %}">
                        {% else %}
                        <a href="{% url "upload" container=container %}">
                        {% endif %}
                        <i class="icon-upload"></i> Upload
                        </a>
                    </li>
                    <li class="divider" />
                    <li>
                        {% if prefix %}
                        <a href="{% url "create_pseudofolder" container=container prefix=prefix %}">
                        {% else %}
                        <a href="{% url "create_pseudofolder" container=container %}">
                        {% endif %}
                        <i class="icon-folder-open"></i> Create pseudofolder
                        </a>
                    </li>
                </ul>
                </div>
            </th>
        </tr>
        </thead>
        {% if folders or objects %} 
        <tbody>
        {% for folder in folders %}
            <tr>
                <td class="hidden-phone"><i class="icon-inbox"></i></td>
                <td> 
                    <a href="{% url "objectview" container=container prefix=folder.0 %}"><strong>{{folder.0|lastpart}}</strong></a>
                </td>
                <td class="hidden-phone"></td>
                <td class="hidden-phone"></td>

                <td>
                    <div class="dropdown pull-right">
                        <a class="dropdown-toggle btn btn-mini btn-danger" data-toggle="dropdown"><i class="icon-chevron-down icon-white"></i></a>
                        <ul class="dropdown-menu">
                                <li><a href="{% url "download_collection" container=container prefix=folder.0 %}"><i class="icon-download"></i> {% trans 'Download' %}</a></li>
                            <li><a href="{% url "download_collection_nonrec" container=container prefix=folder.0  %}"><i class="icon-download"></i> {% trans 'Download nonrecursive' %}</a></li>
                            <li class="divider" />
                            <li><a href="{% url "delete_object" container=container objectname=folder.1  %}" onclick="return confirm('{% trans 'Delete folder' %} {{folder.1}}?');" ><i class="icon-fire"></i> {% trans 'Delete folder' %}</a></li>
                            <li><a href="{% url "move_collection_to_trash" container=container prefix=folder.1  %}"  ><i class="icon-trash"></i> {% trans 'Move to trash' %}</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}

        {% load mimetypes %}
        {% for key in objects %}
            <tr>
                <td class="hidden-phone"><img src={% ifequal  key.content_type|slice:":6" "image/" %}"{% url "serve_thumbnail"  container=container objectname=key.name %}"{% else %}"{% icon key.content_type "32x32" %}"{% endifequal %} width="32" height="32"></td>
                <td><a href="{% url "download" container=container objectname=key.name %}" class="block">{{key.name|lastpart}}</a></td>
                <td class="hidden-phone">{{key.last_modified|dateconv|date:"SHORT_DATETIME_FORMAT"}}</td>
	            <td class="hidden-phone">{{key.bytes|filesizeformat}}</td>
                    <td>
                    <div class="dropdown pull-right">
                        <a class="dropdown-toggle btn btn-mini btn-danger" data-toggle="dropdown"><i class="icon-chevron-down icon-white"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "tempurl" container=container objectname=key.name %}" id="tempurllink"><i class="icon-time"></i> {% trans 'Temporary URL' %}</a></li>
                            <li class="divider" />
                            <li><a href="{% url "delete_object" container=container objectname=key.name  %}" onclick="return confirm('{% trans 'Delete object' %} {{key.name}}?');" ><i class="icon-fire"></i> {% trans 'Delete Object' %}</a></li>
                            <li><a href="{% url "move_to_trash" container=container objectname=key.name  %}"><i class="icon-trash"></i> {% trans 'Move to trash' %}</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

        {% endfor %}
        </tbody> 
        {% else %}
        <tbody>
            <tr>
                <th colspan="5" class="center">
                    <strong><center>{% trans 'There are no objects in this container yet. Upload new objects by clicking the red button.' %}<center></strong>
                </th>
            </tr>
        </tbody>
        {% endif %}
        <tfoot><tr><td><a href="{% url "trashview" account=account %}" role="button" class="btn btn-mini"><i class="icon-trash"></i></a></td>
        <td colspan="5"></td></tr></tfoot>
    </table>
</div>
{% endblock %}
{% block jsadd %} 
<script type="text/javascript"> $('input[id=file]').change(function() { $('#filetmp').val($(this).val()); }); 
settings = { success: function(data){ 
								subject='Link to shared data in DKRZ-Cloud'
								body = 'I want to share a file with you. Please use following URL, which is valid for 7 days:\n\n' + data
								html='<div class="alert alert-success">\
									<button type="button" class="close" data-dismiss="alert">&times;</button> \
							    <p>{% trans "Use the following URL to share this object. The URL is valid for 7 days." %}</p> \
							    <p><code>' + data +  '</code></p> \
							    <p>{% trans "Please note that you cannot revoke this URL. It is valid until expiration!" %}</p> \
							   <a href=mailto:?body='  + encodeURIComponent(body) + '&amp;subject=' + encodeURIComponent(subject) +'> \
							  	Send Link via eMail</a> </div>'
							  	$('#containerdiv').prepend(html);
						},
			  error: function(){ 
			        html = '<div class="alert alert-error"> \
		            		<button type="button" class="close" data-dismiss="alert">&times;</button> \
		             <strong>{% trans "Warning!" %}</strong> {% trans "Cannot create temporary url. Access denied." %}</div>'
		           $('#containerdiv').prepend(html);
				 }
			};

$( "#tempurllink" ).click(function( event ) {
	  event.preventDefault();
	  $.ajax($("#tempurllink").attr('href'), settings);
	});
</script> 
{% endblock %}

